.header{
    height: 300px;
    margin-left:300px;
    margin-right:300px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body{
    height: 200px;
    margin: 50px;
}

.btn{
    margin: 10px;
}
