
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="header">
  <div>
    <h1  style="flex-shrink: 0">
      Welcome to Victor Scheidecker's Front-End assignement project for the Full-Stack Engineer role!
    </h1>
  </div>
</div>
  <div class="body">  
    <btn-tooltips role="button" type="btn-a" class="btn btn-primary" value="A"></btn-tooltips>
    <btn-tooltips role="button" type="btn-b" class="btn btn-primary" value="B"></btn-tooltips>
  </div>

</div>


